<!-- /*********************************
* InfoShow
* Project 2015
* John Devlin  L00091381
*********************************/ -->
<!DOCTYPE html>
<html ng-app="mInfoWebApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="css/signIn.css" rel="stylesheet">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">InfoShow</a>
        </div>
        <div ng-controller="AnkCtrl" class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">               
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="" ng-click="scrollTo('exDetails')"><span class="glyphicon glyphicon glyphicon-education"></span> Exhibit Information</a></li>
                <li><a href="" ng-click="scrollTo('artDetails')"><span class="glyphicon glyphicon-blackboard"></span> Artist Biography</a></li>
                <li><a href="" ng-click="scrollTo('rate')"><span class="glyphicon glyphicon glyphicon-comment"></span> Rate Exhibit</a></li>
                <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Log-out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div></div>
<div ng-view="">
</div>
    
	<script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/mApp.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    
</body>
</html>