<!-- /*********************************
* InfoShow
* Project 2015
* John Devlin  L00091381
*********************************/ -->

<!-- /*********************************
* Mark-up for the Exhibit Dat page
* 
* 
*********************************/ -->

<html>
	<DIV class="container">	
		<div ng-controller="d_exhibit_controller"> 
			<h2>Overview</h2></a>
			<H3><div x-clock></div></H3>
			<DIV class="row" ng-controller="stats">
				<div class="col-xs-6 col-md-3 ">
					<div class="panel panel-default">
					  <div class="panel-body">
				
					  	<h1>{{statistics.daily}}<div class="btn-group pull-right">
	                      <span class="glyphicon glyphicon-tasks"></span>
		                </div></h1>
					    <h3>Today</h3>
					  </div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<h1>{{statistics.weekly}}<div class="btn-toolbar pull-right">
	                      <span class="glyphicon glyphicon-tasks"></span>
		                </div></h1>
					    <h3>This Week</h3>
					  </div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<h1>{{statistics.monthly}}<div class="btn-group pull-right">
	                      <span class="glyphicon glyphicon-tasks"></span>
		                </div></h1>
					    <h3>This Month</h3>
					  </div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<h1>{{statistics.yearly}}<div class="btn-group pull-right">
	                      <span class="glyphicon glyphicon-tasks"></span>
		                </div></h1>
					    <h3>This  year</h3>
					  </div>
					</div>
				</div>	
			</DIV>
			<DIV class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<h3 class="panel-title">Top 5 Exhibits</h3>
					  		<div google-chart chart="chart3" ></div>
					  </div>
					</div>
				</div>
				<div class="col-md-6" ng-controller="stats">
					<div class="panel panel-default">
					  <div class="panel-body">
							<h3>On average...</h3>
							<ul class="list-group">
								<li class="list-group-item panel-title"><strong>{{statistics.day}} </strong>
									<div class="btn-group pull-right">
				                      <span >Interactions<em> per day</em></span>
					                </div>
					            </li>
								<li class="list-group-item panel-title"><strong>{{statistics.month}}</strong>
									<div class="btn-group pull-right">
				                      <span> Interactions <em> per month</em></span>
					                </div>
					        	</li>
							  <li class="list-group-item panel-title"><strong>{{statistics.year}}</strong>
									<div class="btn-group pull-right">
				                      <span > Interactions <em> per year</em></span>
					                </div>
					        	</li>
							  <li class="list-group-item panel-title"><strong>{{statistics.totalInter / statistics.uniqueUser | number:3}}</strong>
									<div class="btn-group pull-right">
				                      <span >Interactions <em> per Visitor</em></span>
					                </div>
					        	</li>
							  <li class="list-group-item panel-title"><strong>{{statistics.avgRat}}</strong>
									<div class="btn-group pull-right">
				                      <span >Rating <em> per exhibit</em></span>
					                </div>
					        	</li>
							</ul>  	
					  </div>
					</div>
				</div>
			</DIV>
			<DIV class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<H3 class="panel-title">Interaction by Exhibit</H3>
					  	<div google-chart chart="chart4" ></div>
					  </div>
					</div>
				</div>
			</DIV>
			<DIV class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<H3 class="panel-title">Daily Interactions</H3>
					  	<div class="panel-body" google-chart chart="chart5" ></div>
					  </div>
					</div>
				</div>
			</DIV>
			<DIV class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<H3 class="panel-title">Location map</H3>
					  	<div class="panel-body" google-chart chart="heatMap" id="heat"></div>
					  </div>
					</div>
				</div>
			</DIV>
		</div>
	</DIV>
</html>
