<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Exhibit Details</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body ng-controller="media_controller">
    <div class="container" ng-repeat="x in asset">
        <div class="row">
            <div  class="col-lg-12">
                <h1 class="mPage-header">{{x.Exhibit_Title}}<small><em> {{ x.Exhibit_AltTitle}} </em></small>
                    <br>
                    <small>{{x.name}}</small>
                    <br>
                    <small>{{x.date}}</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" ng-src="{{x.image}}" id="mainImage" alt=""> 
            </div>

            <div class="col-md-6">
                <h3 id="exDetails" class="mPage-header">Exhibit Description</h3>
                <DIV ><p class="text-info">{{x.blurb}}</p></DIV>
                
                <h3 id="artDetails"  class="mPage-header">Artist's Life</h3>
                <DIV><p>{{x.bio}}</p></DIV>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 id="rate" class="mPage-header">Feedback</h3>
                 <div ng-controller="Rating_Ctrl"> 
                    <div title="Rating Recorded" data-toggle="tooltip" data-content="Thank you" data-trigger="click">
                        <span ng-repeat="rating in ratings">{{rating.current}} out of
                            {{rating.max}}
                        <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
                        </span>
                    I have a Popover 
                    </div>
                </div>   
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <h3 class="mPage-header">Other Works
                </h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <hr>
        <footer>
        </footer>

    </div>


</body>

</html>
