<div id="wrapper">
    <div class="container">
            <!-- <img class="center-block" src="images/logo-1.jpg">
             <div title="Wow. Looky Here." data-toggle="popover" data-content="More stuff here.." data-trigger="hover">I have a Popover</div> -->
			     <form class="form-signin">
			        <div class="social-box">
			            <div class="row mg-btm">
			             <div class="col-md-12">
			                <a href="#" class="btn btn-primary btn-block">
			                  <i class="icon-facebook"></i> &nbsp;&nbsp;&nbsp;Login with Facebook
			                </a>
			            </div>
			            </div>
			            <div class="row">
			            <div class="col-md-12">
			                <a href="#" class="btn btn-info btn-block" >
			                  <i class="icon-twitter"></i> &nbsp;&nbsp;&nbsp;Login with Twitter
			                </a>
			            </div>
			          </div>
			        </div>
			        <div class="main">    
			 
			        <input type="text" class="form-control" placeholder="Email" autofocus>
			        <input type="password" class="form-control" placeholder="Password">
                        <button type="submit" class="btn btn-large btn-danger">Login</button>
			        <span class="clearfix"></span>    
			        </div>
			        <div class="login-footer">
			        <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="left-section">
                                <a href="">Forgot your password?</a>
                                <a href="">Sign up now</a>
                            </div>
                        </div>
                        
                    </div>
 
        </div>
      </form>
    </div>
    </div>
</div>
  <body>

